@media screen and (min-width: 1024px){
.panel-row-left {
flex-basis:33.33%;

}

.panel-row-right {
flex-basis:66.66%;
}

}

@media screen and (max-width: 1024px) {
  img.heatmap {
    width: 400px;
  }

  div.heatmap-frame {
    width: 400px;
  }

}




@media (max-width: 1200px) {
  img.heatmap {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  img.heatmap {
    width: 450px;
  }
  img.image-layer{
    width: 450px;
  }
  img.image-layer-glyph{
    width: 400px;
  }
  div.image-container {
    width: 400px;
    height: 440px;
}
}
@media (max-width: 768px) {
  img.heatmap {
    width: 450px;
  }
  img.image-layer{
    width: 400px;
  }
  img.image-layer-glyph{
    width: 400px;
  }
  div.image-container {
    width: 400px;
    height: 440px;
}
}




@media screen and (max-width: 600px) {

    img.heatmap {
      width: 300px;
    }
    img.image-layer{
      width: 300px;
    }
    img.image-layer-glyph{
      width: 300px;
    }
    div.image-container {
      width: 300px;
      height: 340px;
  }
  }
  @media (max-width: 600px) {
    img.heatmap {
      width: 200px;
    }

    img.heatmap-frame{
      height:163px;
    }
    img.image-layer{
      width: 200px;
    }
    img.image-layer-glyph{
      width: 200px;
    }
    div.image-container {
      width: 200px;
      height: 240px;
  }

}

@media (max-width: 360px) {
  img.heatmap {
    width: 200px;
  }
}

figcaption{
  margin: 10px 0 0 10px;
}
.flex-box {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.image {
  width: 95%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-row {
  text-align: left;
  flex: 1 0 0;
  max-width: calc(33% - 10px);
  margin: 5px;
  min-width: 250px;
  list-style: none;
  list-style-type: none;
}

.map-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .9) 20%,
      rgba(255, 255, 255, .3)), url('images/background_texture.png');
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.panel-row-left {

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.panel-row-right {

  /* max-width: 75%;
  min-width: 350px; */
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.controlpanel {
  display: flex;
    flex-flow: row wrap;
    width: 100%;
  margin-left: 0;
  font-size: 80%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}

.option-box{
  margin:0;
}


.instructions {
  margin-bottom: 20px;
}

.image-container {
  height: 495px;
  max-height: 100%;
  width: 450px;
  max-width: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px grey;
}

.image-layer {
  position: absolute;
  width: 100%;
  max-width: 450px;
  opacity: .33;
}

/* .heatmap-container {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .9) 20%,
      rgba(255, 255, 255, .3)), url('images/background_texture.png');
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 90%;
  } */

/*
.heatmap-row-small {
  flex: 1 0 0;
padding-left: 30px;
    padding-top: 30px;
  padding-bottom: 30px;
}
.heatmap-row-large {
  flex: 2 0 0;
  min-width: 650px;
    padding: 30px;
    margin-right: 30px;
} */
.heatmap-frame {
  height: 366px;
    max-height: 100%;
  max-width: 100%;

}

.heatmap {
  position: absolute;
  max-width: 450px;
  width: 100%;
  max-height: 100%;
  opacity: 1;
  box-shadow: 2px 2px 4px grey;
}

.heatmap-glyph {
  z-index: 99;
  position: absolute;
  width: 33vw;
  max-width: 100%;
  max-height: 100%;
}

.natural {
  opacity: 0.33;
}

.manmade {
  opacity: 0.33;
}

.menu-glyph {
  height: 15px;
  margin-left: 5px;
  width: 20px;
}

.image-layer-glyph {
  z-index: 99;
  position: absolute;
  max-width: 450px;
  width: 100%;
  display: inline-flex;
}


.race-checkbox {
  display: none;
}

label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  transition-duration: 0.4s;
  transform: scale(0);
  opacity: 0.5;
}

.race-glyph {
  height: 20px;
  image-rendering: crisp-edges;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  opacity: .5;
}

:checked+label {
  opacity: 1.0;
}

:checked+label::before {
  opacity: 1.0;
}

:checked+label img {
  opacity: 1.0;
}

.subcategory {
  font-family: inherit;
  margin-left: 15px;
  font-style: normal;
  font-size: 95%;
}

.image-title {
  font-size: 200%;
  font-style: italic;
  margin-left: 40px;
}

.video-highlight {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .9) 20%,
      rgba(255, 255, 255, .3)), url('images/background_texture.png');
  margin: auto;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.animation-title {
  color: Peru;
  font-size: 175%;
  font-style: italic;
  margin-bottom: 20px;
}

.video-frame-right {
  margin: 20px 20px 20px 20px;
  float: right;
  width: 55%;
  box-shadow: 2px 2px 4px grey;
  border-radius: 0;
}

.video-frame-left {
  margin: 20px 20px 20px 20px;
  float: left;
  width: 55%;
  box-shadow: 2px 2px 4px grey;
  border-radius: 0;
}

.text-wrap-right {
  width: 60%;
  float: right;
  margin-left: 10px;
  margin-bottom: 20px;
  image-rendering: optimizeQuality;
}

.text-wrap-left {
  width: 60%;
  float: left;
  margin: 10px;
  image-rendering: optimizeQuality;
}

#footer_date {
  text-decoration: none;
  color: #999999;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  float: left;
  padding: 10px 10px 10px 10px;
}
.overlay {
  /* Display over the entire page */
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  /* Horizontal and vertical centering of the image */
  display: flex;
  align-items: center;
  text-align: center;

  /* We hide all this by default */
  visibility: hidden;
}

.overlay img{
  /* Maximum image size */
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right:auto;
  /* We keep the ratio of the image */
  width: auto;
  height: auto;
}

.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
}
