
.map-container{
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  margin: auto;
  max-width: 90%;
  background-color: #F0F0F0;
  border-radius: 10px;
  padding-right: : 0px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-top: 40px;

}


  .controlpanel{
    display:inline-block;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding:20px;
  }

.image-container{

 box-sizing: content-box;
  display: block;
  min-height:500px;
  height: 100%;
  width: 450px;

    border: 1px solid black;
}

.panel-row{
display: inline-block;
text-align: left;
flex: 1 0 0;
max-width: calc(45% - 40px);
min-width: 320px;

}

.overlay {
  position: absolute;
  max-width: 450px;
  width:75%;
      display: inline-flex;
  opacity: .33;
          }

.natural{
  opactiy:0.33;
}
.manmade{
  opacity:0.33;
}

.menu-glyph{
  width:20px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.overlay-glyph{
    z-index: 99;
    position: absolute;
    max-width: 450px;
    width:75%;
    display: inline-flex;
}

label{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
}
.subcategory
{
  font-family: inherit;
  margin-left: 15px;
  font-style: normal;
  font-size: 95%;
}

.instructions{

  margin-bottom:20px;
}

.text-wrap-right{
width: 70%;
float: right;
margin-left: 10px;
margin-bottom: 20px;
}

.text-wrap-left{
width: 60%;
float: left;
margin: 10px;
}
